.btn__bands {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border: 0.125rem solid #fff;
  border-radius: 5rem;
  color:#fff;
  background: var(--color-primary);
  font-weight: 700;
  text-decoration: unset;
  text-transform: uppercase;
  text-align: center;
  transition: 0.3s all ease;
  font-size: 0.625rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-family: "Montserrat";
 
}

.btn__bands:hover,
.btn__bands:active,
.btn__bands:focus{
  background-color:transparent;
  color: var(--color-primary );
  border: 0.0625rem solid  var(--color-copy);
  box-shadow: 0.0625rem 0.125rem  0.125rem  var(--color-copy);
}


.btn__bands__adress{
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 18px;
  color: #fdd138;
  font-weight: 700;
  font-family: "Montserrat";
  text-decoration: unset;
  padding: 1rem 2.5rem;
  transition: 0.3s all ease;
}
.btn__bands__adress:hover,
.btn__bands__adress:active,
.btn__bands__adress:focus{
  cursor: pointer;
  padding: 1rem 2.5rem;
  border: 0.125rem solid #fff;
  border-radius: 5rem;
  color:#fff;
  background: var(--color-primary);
}