.bands{
    width: 100%;
    height: 100%;
}
.bands__container{
    max-width: 68.75rem;
    margin: 0 auto;
}
.bands__copy{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
}
@media screen and (max-width:1279px){
    .bands__copy{
        display: flex;
        flex-direction: column;
    }
    .bands__copy img{
        border-radius: 5px;
    }
}
.bands__copy__text i{
    color: var(--color-primary);
}
@media screen and (max-width:1279px){
    .bands__copy__text{
        width: 800px;
    }
}

.bands__copy img{
    width: 188px;
    height: 188px;
}
.bands__text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.bands__text h3{
    margin: 0  0  30px 0;
    padding: 0;
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 18px;
    color: var(--color-primary);
    font-weight: 700;
    font-family: "Montserrat";
}
.bands__text i{
    font-size: 20px;
    color: var(--color-primary);
}
.bands__text strong{
    font-size: 15px;
letter-spacing: 3px;
line-height: 18px;
color: #000000;
font-weight: 700;
font-family: "Montserrat";
}

.bands__text p{
    width: 795px;
    height: 170px;
    font-size: 17px;
    line-height: 27px;
    color: #333333;
    font-weight: 400;
    font-family: "Roboto";
}
.adress{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.adress span{
    
    display: flex;
    flex-direction: column;
}
.adress span h2{
    font-size: 15px;
letter-spacing: 3px;
line-height: 18px;
color: var(--color-copy);
font-weight: 400;
font-family: "Montserrat";
}
.adress span small{
    font-size: 14px;
line-height: 27px;
color: #333333;
font-weight: 400;
font-family: "Roboto"
}